header.header
    .container
        .header__inner
            .logo
                a.logo__icon(href="#")
                    +icon('calypso-logo')
            ul.menu
                li.menu__item
                    a.menu__item__link(href="#") About
                li.menu__item
                    a.menu__item__link(href="#") Tools
                li.menu__item
                    a.menu__item__link(href="#") Partners

                +btn('#', 'Join in Beta')(class="btn btn-black")