//section.become
//    .container
//        .row
//            .box
//                h3.title Become a Client
//                .descr Enhance your competitive advantages with the fastest, transparent and secure payments.
//
//                +btn('#', 'Know more')(class="btn btn-black")
//
//            .box.box__img
//                img(src="./static/images/content/become-phone.png" alt="")
//


section.become#5
    .container
        .row
            .box
                h3.title Become a Client
                .descr Enhance your competitive advantages with the fastest, transparent and secure payments.

                +btn('#', 'Know more')(class="btn btn-black")

            .box.box__img
                img(src="./static/images/content/become-phone.png" alt="")