section.crypto
    .container
        .row
            .box.box__text
                .title Crypto payment solution.
                .descr Empower your business with a borderless payment method. Accept Bitcoin and other coins for deposit and get paid directly to your bank account in EUR, USD, GBP, JPY, CAD or AUD

                +btn('#', 'Know more')(class="btn btn-blue")

            .box.box__img
                img(src="./static/images/content/crypto-img.png" alt="")

