section.dark#8
    .container
        .row
            .box.box__text
                h3.title Dark mode
                .descr A new financial era with CoinsPaid.

                +btn('#', 'Know more')(class="btn btn-blue")

            .box.box__img
                img(src="./static/images/content/dark-mode-img.png" alt="")