section.dark
    .container
        .dark__inner
            .box.box__text
                .title Dark mode
                .descr A new financial era with CoinsPaid.

                +btn('#', 'Know more')(class="btn btn-blue")

            .box.box__img
                //+img('crypto-img')
