.main-screen
    .main-bg
        .icon
            //img.icon-card(src="./static/images/content/main-icons.png" alt="")
        //.icon
            //img.icon-card(src="./static/images/content/crypto-img.png" alt="")
            //img.icon-card(src="./static/images/content/crypto-img.png" alt="")
            //img.icon-card(src="./static/images/content/crypto-img.png" alt="")
            //.icon-coins
            //.icon-wallet
    .container
        h1.main__title Crypto payment solution
        a.bt-circle(href="#1")
            <svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L6 6L11 1" stroke="white" stroke-width="2"/>
            </svg>