section.partners
    .container
        h3.title Our partners
        .row
            .item
                +icon('crystal')
                .descr Crystal™ Blockchain provides transaction monitoring and analysis
            .item
                +icon('watchblock-logo')
                .descr Empower your business with a borderless payment method
