section.partners
    .container
        h3.title Our partnersv
        .row
            .item
                +icon('bitcoin')
                .descr Crystal™ Blockchain provides transaction monitoring and analysis
            .item
                +icon('bitcoin')
                .descr Empower your business with a borderless payment method
