section.partners
    .container
        .partners__inner
            h3 Our partners
            .box

                .descr Crystal™ Blockchain provides transaction monitoring and analysis
            .box
                .descr Empower your business with a borderless payment method