section.payment#2
    .container
        h3.title How does payment processing work in a nutshell
        .row
            .item
                .card
                    img.card__img(src="./static/images/content/img-card.png" alt="")
                    ul.list
                        li.list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <circle cx="12.5" cy="12" r="12" fill="#393A3A"/>
                                <path d="M17.4713 10.0298C17.6999 8.45368 16.5351 7.60636 14.9422 7.04117L15.4595 4.9063L14.1977 4.58249L13.6937 6.66122C13.3623 6.57618 13.0218 6.4954 12.6834 6.41628L13.1892 4.32381L11.9286 4L11.4128 6.13404L8.86846 5.48476L8.53277 6.87299C8.53277 6.87299 9.46879 7.09399 9.44902 7.10773C9.95991 7.2392 10.0526 7.58741 10.0369 7.86361L8.62129 13.7122C8.55875 13.872 8.40033 14.1118 8.04326 14.0201C8.0559 14.039 7.12632 13.7832 7.12632 13.7832L6.5 15.2731L9.04067 15.934L8.51851 18.0937L9.7785 18.4175L10.2958 16.281C10.6407 16.3772 10.9741 16.466 11.3008 16.5496L10.7856 18.6762L12.0472 19L12.5693 16.8444C14.7206 17.2637 16.3384 17.0945 17.0184 15.0915C17.567 13.4778 16.9915 12.5468 15.8596 11.9395C16.6838 11.7429 17.3046 11.1845 17.4703 10.0306L17.4713 10.0298ZM14.5881 14.194C14.1972 15.8077 11.5605 14.9356 10.705 14.7165L11.3977 11.8556C12.2528 12.0754 14.9948 12.5108 14.5885 14.1937L14.5881 14.194ZM14.9794 10.0069C14.6237 11.4755 12.4283 10.7294 11.7157 10.5463L12.343 7.95078C13.0557 8.13413 15.3494 8.47547 14.9785 10.0068" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                            .list__item_descr Bitcoin
                            .check
                                <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <circle cx="8.5" cy="8" r="8" fill="#15D590"/>
                                <path d="M5.5 7.66667L7.79412 10L11.5 6" stroke="white" stroke-width="1.4"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="16" height="16" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                        li.list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <circle cx="12.5" cy="12" r="12" fill="#ACB0C4"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M7.5 11.75L12.5 3.25L17.5 11.75L12.5 14.5833L7.5 11.75ZM17.5 13.1667L12.5 16L7.5 13.1667L12.5 20.25L17.5 13.1667Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                            .list__item_descr Ethereum
                        li.list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0)">
                                <circle cx="12.5" cy="12" r="12" fill="#ACB0C4"/>
                                <path d="M13.9235 12.9885V12.987C13.8438 12.9929 13.4328 13.0177 12.5159 13.0177C11.7839 13.0177 11.2686 12.9958 11.0874 12.987V12.9892C8.26941 12.8643 6.16608 12.3696 6.16608 11.7777C6.16608 11.1866 8.26941 10.6919 11.0874 10.5647V12.4967C11.2715 12.5099 11.7991 12.5413 12.5283 12.5413C13.4031 12.5413 13.8416 12.5047 13.9235 12.4974V10.5662C16.7357 10.6926 18.8339 11.1873 18.8339 11.7777C18.8339 12.3696 16.7357 12.8628 13.9235 12.9885ZM13.9235 10.3652V8.63639H17.8475V6H7.16339V8.63639H11.0874V10.3645C7.89832 10.5121 5.5 11.1493 5.5 11.9121C5.5 12.675 7.89832 13.3114 11.0874 13.4598V19H13.9235V13.4583C17.1075 13.3107 19.5 12.6743 19.5 11.9121C19.5 11.15 17.1075 10.5136 13.9235 10.3652Z" fill="white"/>
                                </g>
                                <defs>
                                <clipPath id="clip0">
                                <rect width="24" height="24" fill="white" transform="translate(0.5)"/>
                                </clipPath>
                                </defs>
                                </svg>
                            .list__item_descr Tether
                    +btn('#', 'Pay')(class="btn btn-black")
                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк

            .arrow
                <svg width="54" height="46" viewBox="0 0 54 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 9.5L47.9545 9.5" stroke="#B9BCC9" stroke-width="3" stroke-linecap="round"/>
                    <path d="M52.75 8.20096C53.75 8.77831 53.75 10.2217 52.75 10.799L44.5 15.5622C43.5 16.1395 42.25 15.4178 42.25 14.2631L42.25 4.73686C42.25 3.58216 43.5 2.86047 44.5 3.43782L52.75 8.20096Z" fill="#B9BCC9" stroke="#B9BCC9"/>
                    <path d="M52.5 36.5L6.04546 36.5" stroke="#B9BCC9" stroke-width="3" stroke-linecap="round"/>
                    <path d="M1.25 35.201C0.250002 35.7783 0.250002 37.2217 1.25 37.799L9.5 42.5622C10.5 43.1395 11.75 42.4178 11.75 41.2631L11.75 31.7369C11.75 30.5822 10.5 29.8605 9.5 30.4378L1.25 35.201Z" fill="#B9BCC9" stroke="#B9BCC9"/>
                </svg>

            .item
                .card
                    ul.list
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect width="24" height="24" transform="translate(0.5)" fill="white"/>
                                <path d="M15.5 12L20.5 8L15.5 4V6.999H2.5V8.999H15.5V12ZM22.5 15H9.5V12L4.5 16L9.5 20V17H22.5V15Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Exchange
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.49 2C6.97 2 2.5 6.48 2.5 12C2.5 17.52 6.97 22 12.49 22C18.02 22 22.5 17.52 22.5 12C22.5 6.48 18.02 2 12.49 2ZM13.5 13V7H11.5V13H13.5ZM13.5 17V15H11.5V17H13.5ZM4.5 12C4.5 16.42 8.08 20 12.5 20C16.92 20 20.5 16.42 20.5 12C20.5 7.58 16.92 4 12.5 4C8.08 4 4.5 7.58 4.5 12Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Risk engine
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M18.5 8C17.4 8 16.5 8.9 16.5 10C16.5 11.1 17.4 12 18.5 12C19.6 12 20.5 11.1 20.5 10C20.5 8.9 19.6 8 18.5 8Z" fill="#15D590"/>
                                    <path d="M6.5 12C5.4 12 4.5 12.9 4.5 14C4.5 15.1 5.4 16 6.5 16C7.6 16 8.5 15.1 8.5 14C8.5 12.9 7.6 12 6.5 12Z" fill="#15D590"/>
                                    <path d="M10.5 12C10.5 10.9 11.4 10 12.5 10C13.6 10 14.5 10.9 14.5 12C14.5 13.1 13.6 14 12.5 14C11.4 14 10.5 13.1 10.5 12Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Processor
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5 2L11.5 14.17L7.91 10.59L6.5 12L12.5 18L18.5 12L17.09 10.59L13.5 14.17L13.5 2H11.5Z" fill="#15D590"/>
                                    <path d="M5.5 20H19.5V22H5.5V20Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Add funds
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.5 18L11.5 5.83L7.91 9.41L6.5 8L12.5 2L18.5 8L17.09 9.41L13.5 5.83L13.5 18H11.5Z" fill="#15D590"/>
                                    <path d="M5.5 20H19.5V22H5.5V20Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Withdrawal
                        .list__item
                            .list__item_icon
                                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M20.437 8.68C20.426 8.648 20.417 8.617 20.404 8.586C20.355 8.48 20.294 8.379 20.208 8.293L14.208 2.293C14.122 2.207 14.021 2.146 13.915 2.097C13.885 2.083 13.853 2.075 13.821 2.064C13.737 2.036 13.651 2.018 13.562 2.013C13.54 2.011 13.521 2 13.5 2H6.5C5.397 2 4.5 2.897 4.5 4V20C4.5 21.103 5.397 22 6.5 22H18.5C19.603 22 20.5 21.103 20.5 20V9C20.5 8.979 20.489 8.96 20.487 8.938C20.482 8.85 20.465 8.764 20.437 8.68ZM17.086 8H14.5V5.414L17.086 8ZM6.5 20V4H12.5V9C12.5 9.553 12.947 10 13.5 10H18.5L18.502 20H6.5Z" fill="#15D590"/>
                                </svg>
                            .list__item_descr Invoices
                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк
            .arrow
                <svg width="54" height="46" viewBox="0 0 54 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 9.5L47.9545 9.5" stroke="#B9BCC9" stroke-width="3" stroke-linecap="round"/>
                    <path d="M52.75 8.20096C53.75 8.77831 53.75 10.2217 52.75 10.799L44.5 15.5622C43.5 16.1395 42.25 15.4178 42.25 14.2631L42.25 4.73686C42.25 3.58216 43.5 2.86047 44.5 3.43782L52.75 8.20096Z" fill="#B9BCC9" stroke="#B9BCC9"/>
                    <path d="M52.5 36.5L6.04546 36.5" stroke="#B9BCC9" stroke-width="3" stroke-linecap="round"/>
                    <path d="M1.25 35.201C0.250002 35.7783 0.250002 37.2217 1.25 37.799L9.5 42.5622C10.5 43.1395 11.75 42.4178 11.75 41.2631L11.75 31.7369C11.75 30.5822 10.5 29.8605 9.5 30.4378L1.25 35.201Z" fill="#B9BCC9" stroke="#B9BCC9"/>
                </svg>
            .item
                .card
                    ul.list
                        .list__item
                            .list__item_icon

                                <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="22" cy="21" r="12" fill="url(#paint0_linear)"/>
                                <g filter="url(#filter0_i)">
                                <path d="M23.4235 21.9885V21.987C23.3438 21.9929 22.9328 22.0177 22.0159 22.0177C21.2839 22.0177 20.7686 21.9958 20.5874 21.987V21.9892C17.7694 21.8643 15.6661 21.3696 15.6661 20.7777C15.6661 20.1866 17.7694 19.6919 20.5874 19.5647V21.4967C20.7715 21.5099 21.2991 21.5413 22.0283 21.5413C22.9031 21.5413 23.3416 21.5047 23.4235 21.4974V19.5662C26.2357 19.6926 28.3339 20.1873 28.3339 20.7777C28.3339 21.3696 26.2357 21.8628 23.4235 21.9885ZM23.4235 19.3652V17.6364H27.3475V15H16.6634V17.6364H20.5874V19.3645C17.3983 19.5121 15 20.1493 15 20.9121C15 21.675 17.3983 22.3114 20.5874 22.4598V28H23.4235V22.4583C26.6075 22.3107 29 21.6743 29 20.9121C29 20.15 26.6075 19.5136 23.4235 19.3652Z" fill="#313732"/>
                                </g>
                                <g filter="url(#filter1_b)">
                                <g filter="url(#filter2_b)">
                                <circle cx="13" cy="13" r="12" fill="black" fill-opacity="0.6"/>
                                <circle cx="13" cy="13" r="11.9" stroke="white" stroke-opacity="0.2" stroke-width="0.2"/>
                                </g>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M8 12.75L13 4.25L18 12.75L13 15.5833L8 12.75ZM18 14.1667L13 17L8 14.1667L13 21.25L18 14.1667Z" fill="white" fill-opacity="0.8"/>
                                </g>
                                <defs>
                                <filter id="filter0_i" x="15" y="15" width="14" height="14" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dy="1"/>
                                <feGaussianBlur stdDeviation="0.5"/>
                                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
                                </filter>
                                <filter id="filter1_b" x="-3" y="-3" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="2"/>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"/>
                                </filter>
                                <filter id="filter2_b" x="-3" y="-3" width="32" height="32" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="2"/>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"/>
                                </filter>
                                <linearGradient id="paint0_linear" x1="13.993" y1="8.44641" x2="24.6412" y2="41.9124" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5FEC87"/>
                                <stop offset="0.53125" stop-color="#2BCFC8"/>
                                <stop offset="1" stop-color="#01C5B7"/>
                                </linearGradient>
                                </defs>
                                </svg>
                            .list__item_descr Just coin
                        .list__item
                            .list__item_icon
                                <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="12" y="13" width="23" height="16" rx="2" fill="url(#paint0_linear)"/>
                                <rect x="12" y="17" width="23" height="3" fill="#313732"/>
                                <g filter="url(#filter0_b)">
                                <rect x="2" y="6" width="23" height="16" rx="2" fill="black" fill-opacity="0.6"/>
                                <rect x="2.1" y="6.1" width="22.8" height="15.8" rx="1.9" stroke="white" stroke-opacity="0.2" stroke-width="0.2"/>
                                </g>
                                <rect x="2" y="10" width="23" height="3" fill="black" fill-opacity="0.4"/>
                                <defs>
                                <filter id="filter0_b" x="-2" y="2" width="31" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="2"/>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"/>
                                </filter>
                                <linearGradient id="paint0_linear" x1="15.8266" y1="12.6309" x2="21.0109" y2="36.0528" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5FEC87"/>
                                <stop offset="0.53125" stop-color="#2BCFC8"/>
                                <stop offset="1" stop-color="#01C5B7"/>
                                </linearGradient>
                                </defs>
                                </svg>
                            .list__item_descr Cards
                        .list__item
                            .list__item_icon

                                <svg width="36" height="35" viewBox="0 0 36 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="6.5" cy="11.5" r="6.5" fill="#272727" fill-opacity="0.6"/>
                                <g filter="url(#filter0_b)">
                                <rect x="3" y="9" width="30" height="16" rx="2" fill="url(#paint0_linear)"/>
                                </g>
                                <g filter="url(#filter1_i)">
                                <rect x="4.5" y="10.5" width="27" height="13" rx="1.5" stroke="#00710E" stroke-opacity="0.12"/>
                                </g>
                                <circle cx="10" cy="17" r="2" fill="#0C7400" fill-opacity="0.2"/>
                                <circle cx="26" cy="17" r="2" fill="#0C7400" fill-opacity="0.2"/>
                                <path d="M20.346 18.218C20.346 18.704 20.166 19.118 19.806 19.46C19.452 19.796 18.936 20 18.258 20.072V21.08H17.52V20.081C17.076 20.051 16.656 19.97 16.26 19.838C15.864 19.706 15.549 19.538 15.315 19.334L15.72 18.425C15.942 18.605 16.212 18.758 16.53 18.884C16.848 19.004 17.178 19.079 17.52 19.109V17.309C17.094 17.207 16.737 17.096 16.449 16.976C16.167 16.85 15.93 16.67 15.738 16.436C15.546 16.196 15.45 15.881 15.45 15.491C15.45 15.005 15.627 14.591 15.981 14.249C16.335 13.907 16.848 13.703 17.52 13.637V12.62H18.258V13.619C18.594 13.637 18.921 13.694 19.239 13.79C19.563 13.886 19.845 14.012 20.085 14.168L19.716 15.077C19.26 14.813 18.774 14.651 18.258 14.591V16.409C18.69 16.511 19.047 16.622 19.329 16.742C19.617 16.862 19.857 17.042 20.049 17.282C20.247 17.516 20.346 17.828 20.346 18.218ZM16.611 15.437C16.611 15.635 16.689 15.794 16.845 15.914C17.001 16.034 17.226 16.136 17.52 16.22V14.618C17.214 14.666 16.986 14.762 16.836 14.906C16.686 15.05 16.611 15.227 16.611 15.437ZM18.258 19.091C18.576 19.043 18.81 18.95 18.96 18.812C19.116 18.674 19.194 18.503 19.194 18.299C19.194 18.095 19.113 17.933 18.951 17.813C18.789 17.687 18.558 17.582 18.258 17.498V19.091Z" fill="#313732"/>
                                <g filter="url(#filter2_b)">
                                <circle cx="30" cy="23" r="6" fill="black" fill-opacity="0.6"/>
                                </g>
                                <path d="M30.3341 25.168C30.9261 25.168 31.4248 24.9467 31.8301 24.504L32.4941 25.144C32.2381 25.448 31.9181 25.68 31.5341 25.84C31.1554 26 30.7368 26.08 30.2781 26.08C29.8141 26.08 29.3821 25.9947 28.9821 25.824C28.5874 25.6533 28.2514 25.4133 27.9741 25.104C27.7021 24.7947 27.5101 24.4373 27.3981 24.032H26.4861V23.472H27.2941C27.2888 23.4133 27.2861 23.3227 27.2861 23.2C27.2861 23.0773 27.2888 22.9867 27.2941 22.928H26.4861V22.368H27.3981C27.5101 21.9627 27.7021 21.6053 27.9741 21.296C28.2514 20.9867 28.5874 20.7467 28.9821 20.576C29.3821 20.4053 29.8141 20.32 30.2781 20.32C30.7368 20.32 31.1554 20.4 31.5341 20.56C31.9181 20.72 32.2381 20.952 32.4941 21.256L31.8301 21.888C31.4248 21.4507 30.9261 21.232 30.3341 21.232C29.9074 21.232 29.5314 21.3333 29.2061 21.536C28.8861 21.7387 28.6488 22.016 28.4941 22.368H30.7901V22.928H28.3421C28.3314 23.0453 28.3261 23.136 28.3261 23.2C28.3261 23.264 28.3314 23.3547 28.3421 23.472H30.7901V24.032H28.4941C28.6488 24.384 28.8861 24.6613 29.2061 24.864C29.5314 25.0667 29.9074 25.168 30.3341 25.168Z" fill="white" fill-opacity="0.8"/>
                                <defs>
                                <filter id="filter0_b" x="-1" y="5" width="38" height="24" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="2"/>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"/>
                                </filter>
                                <filter id="filter1_i" x="4" y="10" width="28.2" height="14" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                                <feOffset dx="0.2"/>
                                <feGaussianBlur stdDeviation="0.5"/>
                                <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                                <feColorMatrix type="matrix" values="0 0 0 0 0.06825 0 0 0 0 0.4875 0 0 0 0 0 0 0 0 0.25 0"/>
                                <feBlend mode="normal" in2="shape" result="effect1_innerShadow"/>
                                </filter>
                                <filter id="filter2_b" x="20" y="13" width="20" height="20" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                                <feGaussianBlur in="BackgroundImage" stdDeviation="2"/>
                                <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur"/>
                                <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur" result="shape"/>
                                </filter>
                                <linearGradient id="paint0_linear" x1="7.99119" y1="8.63094" x2="12.0438" y2="32.5126" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#5FEC87"/>
                                <stop offset="0.53125" stop-color="#2BCFC8"/>
                                <stop offset="1" stop-color="#01C5B7"/>
                                </linearGradient>
                                </defs>
                                </svg>
                            .list__item_descr Fiat

                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк

