section.payment
    .container
        h3.title How does payment processing work in a nutshell
        .row
            .item
                img(src="./static/images/content/play.png" alt="")
                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк
            .item
                img(src="./static/images/content/play.png" alt="")
                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк
            .item
                img(src="./static/images/content/just.png" alt="")
                .descr Система учитывет стоимость монеты, проверяет попадание в сеть, обменивает и выводит крипту на ваш кошелёк