section.payment
    .container
        .title How does payment processing work in a nutshell
            .descr Empower your business with a borderless payment method. Accept Bitcoin and other coins for deposit and get paid directly to your bank account in EUR, USD, GBP, JPY, CAD or AUD
        .row
            .item
                +icon('bitcoin')
                .descr Вы пишете нам
            .item
                +icon('bitcoin')
                .descr С вами связывается наш менеджер
            .item
                +icon('bitcoin')
                .descr Вы устанавливаете виджет себе на сайт
            .item
                +icon('bitcoin')
                .descr Вы готовы принимать платежи в крипте