section.supported
    .container
        .supported__inner
            h3 Supported currencies
            .box
                .box__item
                    +icon('bitcoin-icon')
                    span Bitcoin
                .box__item
                    +icon('ethereum-icon')
                    span Ethereum
                .box__item
                    +icon('tether-icon')
                    span Tether