section.supported
    .container
        h3.title Supported currencies
        .row
            .item
                +icon('bitcoin')
                .subtitle Bitcoin
            .item
                +icon('ethereum')
                .subtitle Ethereum
            .item
                +icon('tether')
                .subtitle Tether