//section.what
//    .container
//        .row
//            .box.box__text
//                h3.title Что мы предлагаем?
//                .subtitle Invoices
//                .descr Invoices — a method of bill generation where a given cryptocurrency is tied to a specific fiat amount, which the customer has to pay within a short period of time, after which the invoice has to be regenerated with the new exchange rate.
//
//                +btn('#', 'Know more')(class="btn btn-blue")
//
//            .box.box-img
//                img(src="./static/images/content/Invoices-img.png" alt="")



section.what#3
    .container
        .row
            .slider
                .box.box__text
                    h3.title Что мы предлагаем?
                    .subtitle Invoices
                    .descr Invoices — a method of bill generation where a given cryptocurrency is tied to a specific fiat amount, which the customer has to pay within a short period of time, after which the invoice has to be regenerated with the new exchange rate.

                    +btn('#', 'Know more')(class="btn btn-blue")

                //.box.box__text
                //    h3.title Что мы предлагаем?
                //    .subtitle Invoices
                //    .descr Invoices — a method of bill generation where a given cryptocurrency is tied to a specific fiat amount, which the customer has to pay within a short period of time, after which the invoice has to be regenerated with the new exchange rate.
                //
                //    +btn('#', 'Know more')(class="btn btn-blue")

            .box.box-img
                img(src="./static/images/content/Invoices-img.png" alt="")
