section.why
    .container
        h3.title Why you should try Cryptoprocessing
        .descr A licensed and security audited solution with a leading position in crypto payments for iGaming
        .row
            .item
                img(src="./static/images/content/deposits.png" alt="")
                .subtitle Instant deposits in crypto
                .descr We credit the user’s account within 1 second of the payment, before it’s included in the blockchain.
            .item
                img(src="./static/images/content/settlements.png" alt="")
                .subtitle Settlements in the most popular fiat currencies
                .descr Receive funds directly to your bank account in EUR, USD, GBP, JPY, CAD or AUD. More to come.
            .item
                img(src="./static/images/content/integration.png" alt="")
                .subtitle Simple integration
                .descr We offer full integration support via a dedicated manager, so you and your customers can enjoy the features of Cryptoprocessing in no time!
            .item
                img(src="./static/images/content/exchange.png" alt="")
                .subtitle Instant exchange to fiat
                .descr Accept crypto payments and exchange them to EUR and 22 other fiat currencies immediately.
            .item
                img(src="./static/images/content/assessment.png" alt="")
                .subtitle Blockchain-based risk assessment
                .descr Protect your business from suspicious funds and fraud with our advanced security system.
