extends layout/main

block variables
	-var title = 'Главная страница'

block content
	include pages/mainscreen
	include pages/crypto
	include pages/payment
	include pages/what
	include pages/why
	include pages/become
	include pages/partners
	include pages/how
	include pages/supported
	include pages/dark
















