header {
    flex: 0 0 auto;
}

.header {
    width: 100%;
    position: absolute;
    margin-top: 24px;
    //position: fixed;
    //z-index: 15;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        .icon-calypso-logo {
            width: 98px;
            height: 40px;
        }
    }
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 364px;
        width: 100%;
        @include respond-to('mobile-wide') {
            width: auto;
        }

        &__item {
            @include respond-to('mobile-wide') {
                display: none;
            }
            &__link {
                font-family: 'Inter';
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #272727;
            }
        }

        .btn {
            @include respond-to('mobile-wide') {
                width: initial;
            }

        }
    }
}