footer.footer
    .container
        .footer__inner
            .logo
                a.logo__icon(href="#")
                    +icon('calypso-logo')
            .row
                .subtitle Acquire © 2020

                ul.menu
                    li.menu__item
                        a.menu__item__link(href="#") Processing of personal data
                    li.menu__item
                        a.menu__item__link(href="#") Terms of service
                    li.menu__item
                        a.menu__item__link(href="#") Privacy Policy